{% extends 'base.html' %}

{% block head %}
<title>Chien Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h3>you need to add some tasks if you want some texts</h3>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a class="delete" href="/delete/{{task.id}}">Delete</a>
                    <a class="update" href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" class="button" value="Add Task">
    </form>
</div>
{% endblock %}